

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	font-family: "Camphor", "Open Sans", "Segoe UI", sans-serif;
	line-height: 1.6;
	color: #333;
	font-size: 1.1em;
	height: 100%;
	background-color: #f6f9fc;
}

body.dark {
	background-color: #121212;
}

body.dark .cd-timeline-content, body.dark .project-card {
	background-color: #272626;
}

body.dark .cd-timeline-content p, body.dark .project-card p, body.dark .project-card span {
	color: rgb(255, 255, 255, 0.88);
}

i:hover {
	cursor: pointer;
}

.social i {
	opacity: 0;
	color: #9370DB;
	margin-right: 8px;
}

i.fa-github {
	animation: slideIn 1.2s forwards;
	animation-delay: 1.4s;
}

i.fa-linkedin {
	animation: slideIn 1.2s forwards;
	animation-delay: 1.6s;
}

i.fa-envelope {
	animation: slideIn 1.2s forwards;
	animation-delay: 1.8s;
}



@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateX(-25px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

a {
	text-decoration: none;
	color: #333;
	line-height: 40px;
	color: #525f7f;
	font-weight: 200;
	position: relative;
}

ul {
	list-style: none;
}

.name {
	font-size: 4.5em;
	color: #9370DB;
}

.description {
	font-weight: 200;
	font-size: 1em;
	line-height: 40px;
	color: #525f7f;
	margin-bottom: 15px;
}

.footer {
	text-align: center;
	font-size: 0.8em;
	line-height: 1.5em;
	padding-bottom: 50px;
	color: #525F7F;
	font-weight: 300;
}

.navbar {
	font-size: 1.2rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	box-shadow: rgb(225, 225, 225) 0px 2px 4px 0px;
}

.navbar .container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.navbar .nav {
	margin-right: 15px;
	justify-self: flex-end;
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar .nav a, p.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: flex-start;
	margin-left: 25px;
	margin: 0 1rem;
}

p.logo {
  margin-left: 35px;
	overflow: hidden;
}

.rising {
	animation: animateUp .5s both;
}

/*.setting {
	animation: animateDown .5s both;
}*/

@keyframes animateUp {
	0% {
		transform: translateY(30px);
	}
	100% {
		transform: translateY(0);
	}
}

/*@keyframes animateDown {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(30px);
	}
}*/

#about {
	margin-top: 150px;
}

/* Cursor */

.txt-type > .txt {
	border-right: 0.15rem solid #525F7F;
	animation: 1s blink infinite;
}

@keyframes blink {
	from, to {
		border-color: transparent;
	}
	50% {
		border-color: #777;
	}
}

#content, #navigation, #demo-canvas, #cd-timeline {
	animation: fadeIn ease 3s;
}

#animation {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/* bg eff */

.large-header {
   position: relative;
   width: 100%;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
}

.main-title {
   position: absolute;
   font-weight: 200;
   margin: 0;
   padding: 5;
   top: 30%;
   left: 35%;
   -webkit-transform: translate3d(-40%, -30%, 0);
   transform: translate3d(-40%, -30%, 0);
}

.nav a:after {    
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #9370DB;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
.nav a:hover:after { 
	width: 100%; 
	left: 0; 
}


/* -------------------------------- 

Timeline CSS

-------------------------------- */

.cd-container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10%;
  border-radius: 2px;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 4px;
  background: #7E57C2;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

@media only screen and (max-width: 768px) {
  .name {
    font-size: 3.5em;
  }
  .description {
    font-size: 0.85em;
    line-height: 30px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
  .cd-timeline-block:nth-child(odd) .cd-timeline-content.animate {
    animation: animateRight 2.5s forwards;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 11px;
  left: 17px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #7E57C2, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img {
  background: #f6f9fc;
}

.cd-timeline-content {
	opacity: 0;
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  background: white;
  border-radius: 4px;
  padding: 1em;
  box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
}

.cd-timeline-block .cd-timeline-content.animate {
  animation: animateLeft 2.5s forwards;
}

@keyframes animateRight {
	0% {
		transform: translateX(-55px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes animateLeft {
	0% {
		transform: translateX(55px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.cd-timeline-content p, .project-card p {
  margin: 1em 0;
  line-height: 27px;
  color: #525f7f;
  font-weight: 300;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
}

.cd-timeline-content h3, .project-card h3 {
  font-weight: 500;
  font-size: 1.5em;
  line-height: 38px;
  color: #525f7f;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 36%;
    margin: 0 5%
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
}

body.dark .cd-timeline-img {
  background: #121212;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    margin-top: 15px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

/* Parallax Particle Effect */

body.dark #stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1864px 1584px #FFF , 1057px 1232px #FFF , 311px 912px #FFF , 61px 769px #FFF , 1447px 1414px #FFF , 1935px 827px #FFF , 754px 1272px #FFF , 484px 374px #FFF , 674px 528px #FFF , 1353px 206px #FFF , 1009px 54px #FFF , 562px 402px #FFF , 815px 1602px #FFF , 1650px 335px #FFF , 1861px 1996px #FFF , 652px 814px #FFF , 173px 1796px #FFF , 1084px 1604px #FFF , 1760px 1344px #FFF , 1724px 557px #FFF , 524px 908px #FFF , 534px 13px #FFF , 320px 116px #FFF , 1507px 763px #FFF , 1745px 136px #FFF , 1292px 1556px #FFF , 1845px 1524px #FFF , 427px 1298px #FFF , 1398px 1198px #FFF , 209px 1324px #FFF , 627px 1401px #FFF , 512px 434px #FFF , 1988px 1294px #FFF , 239px 141px #FFF , 721px 252px #FFF , 565px 1498px #FFF , 971px 1124px #FFF , 244px 808px #FFF , 818px 1641px #FFF , 277px 628px #FFF , 1156px 1738px #FFF , 1902px 1862px #FFF , 1772px 1215px #FFF , 1298px 565px #FFF , 273px 617px #FFF , 1776px 1437px #FFF , 445px 1128px #FFF , 570px 539px #FFF , 1867px 1695px #FFF , 1856px 416px #FFF , 667px 72px #FFF , 1319px 926px #FFF , 1315px 1354px #FFF , 856px 284px #FFF , 519px 54px #FFF , 89px 114px #FFF , 1354px 884px #FFF , 108px 1811px #FFF , 1494px 573px #FFF , 1078px 1874px #FFF , 1419px 663px #FFF , 1064px 386px #FFF , 1335px 663px #FFF , 701px 569px #FFF , 354px 1107px #FFF , 1145px 1450px #FFF , 1618px 933px #FFF , 1362px 659px #FFF , 1484px 800px #FFF , 1982px 834px #FFF , 1251px 691px #FFF , 95px 1117px #FFF , 567px 631px #FFF , 131px 1673px #FFF , 1415px 10px #FFF , 779px 1851px #FFF , 1344px 1887px #FFF , 1715px 1088px #FFF , 181px 1539px #FFF , 433px 224px #FFF , 1398px 1154px #FFF , 1116px 212px #FFF , 1165px 264px #FFF , 647px 1898px #FFF , 1663px 1859px #FFF , 1457px 1147px #FFF , 720px 462px #FFF , 1572px 1805px #FFF , 658px 569px #FFF , 262px 60px #FFF , 1355px 1176px #FFF , 122px 1063px #FFF , 1072px 1990px #FFF , 1590px 1523px #FFF , 1343px 55px #FFF , 805px 662px #FFF , 405px 412px #FFF , 185px 1600px #FFF , 1189px 953px #FFF , 1609px 1978px #FFF , 1881px 806px #FFF , 908px 196px #FFF , 224px 81px #FFF , 830px 1983px #FFF , 1327px 551px #FFF , 1063px 1324px #FFF , 545px 1993px #FFF , 666px 1154px #FFF , 1261px 1100px #FFF , 1633px 855px #FFF , 302px 727px #FFF , 210px 1289px #FFF , 944px 17px #FFF , 799px 648px #FFF , 1441px 1373px #FFF , 1101px 1524px #FFF , 850px 1432px #FFF , 1021px 198px #FFF , 1552px 211px #FFF , 966px 929px #FFF , 815px 1565px #FFF , 1090px 581px #FFF , 369px 1118px #FFF , 507px 91px #FFF , 1339px 1472px #FFF , 131px 1329px #FFF , 325px 902px #FFF , 140px 1018px #FFF , 924px 1247px #FFF , 1067px 1952px #FFF , 634px 992px #FFF , 538px 1940px #FFF , 1651px 1737px #FFF , 1972px 1510px #FFF , 1020px 488px #FFF , 609px 484px #FFF , 1907px 1220px #FFF , 1531px 171px #FFF , 1215px 1028px #FFF , 1906px 577px #FFF , 1681px 1127px #FFF , 775px 1428px #FFF , 116px 1908px #FFF , 1600px 260px #FFF , 1875px 1423px #FFF , 642px 248px #FFF , 848px 587px #FFF , 1424px 979px #FFF , 1337px 410px #FFF , 790px 1745px #FFF , 40px 1706px #FFF , 1456px 905px #FFF , 974px 501px #FFF , 1162px 604px #FFF , 1015px 76px #FFF , 1587px 1093px #FFF , 1467px 447px #FFF , 733px 489px #FFF , 339px 939px #FFF , 1906px 1696px #FFF , 1522px 1821px #FFF , 264px 5px #FFF , 91px 554px #FFF , 345px 17px #FFF , 597px 1078px #FFF , 1491px 1405px #FFF , 1694px 1239px #FFF , 406px 1118px #FFF , 601px 642px #FFF , 1520px 1951px #FFF , 1922px 1329px #FFF , 62px 928px #FFF , 1821px 864px #FFF , 1672px 1814px #FFF , 383px 431px #FFF , 1385px 118px #FFF , 1987px 984px #FFF , 1237px 930px #FFF , 418px 677px #FFF , 753px 148px #FFF , 674px 840px #FFF , 322px 1982px #FFF , 1550px 912px #FFF , 637px 244px #FFF , 1752px 209px #FFF , 1855px 1411px #FFF , 225px 1096px #FFF , 906px 1854px #FFF , 1058px 1920px #FFF , 901px 1069px #FFF , 1736px 1057px #FFF , 739px 1291px #FFF , 1295px 820px #FFF , 582px 1532px #FFF , 1927px 230px #FFF , 999px 781px #FFF , 1319px 558px #FFF , 1022px 1163px #FFF , 1146px 1805px #FFF , 839px 353px #FFF , 634px 891px #FFF , 678px 387px #FFF , 364px 654px #FFF , 264px 1172px #FFF , 1501px 1437px #FFF , 1451px 1071px #FFF , 96px 1824px #FFF , 1378px 995px #FFF , 946px 1590px #FFF , 1689px 202px #FFF , 1623px 1400px #FFF , 1365px 787px #FFF , 774px 191px #FFF , 979px 1988px #FFF , 1750px 608px #FFF , 1076px 1718px #FFF , 691px 753px #FFF , 1713px 1117px #FFF , 613px 464px #FFF , 198px 151px #FFF , 1636px 932px #FFF , 669px 635px #FFF , 373px 1633px #FFF , 1547px 457px #FFF , 1267px 1413px #FFF , 1906px 994px #FFF , 189px 1279px #FFF , 1221px 1285px #FFF , 942px 1062px #FFF , 884px 230px #FFF , 755px 1425px #FFF , 232px 109px #FFF , 127px 893px #FFF , 688px 772px #FFF , 315px 1847px #FFF , 985px 1767px #FFF , 719px 1089px #FFF , 204px 402px #FFF , 1154px 181px #FFF , 159px 1121px #FFF , 33px 1306px #FFF , 394px 1146px #FFF , 1499px 622px #FFF , 1493px 239px #FFF , 140px 1907px #FFF , 587px 527px #FFF , 833px 945px #FFF , 862px 344px #FFF , 148px 17px #FFF , 1780px 904px #FFF , 1411px 120px #FFF , 714px 679px #FFF , 1009px 327px #FFF , 1029px 1578px #FFF , 1847px 147px #FFF , 1715px 115px #FFF , 539px 957px #FFF , 456px 1101px #FFF , 1332px 1072px #FFF , 766px 85px #FFF , 165px 456px #FFF , 729px 437px #FFF , 966px 592px #FFF , 1851px 1863px #FFF , 1153px 791px #FFF , 616px 68px #FFF , 639px 1302px #FFF , 150px 1205px #FFF , 841px 1763px #FFF , 663px 1864px #FFF , 1569px 1336px #FFF , 263px 1239px #FFF , 263px 1447px #FFF , 957px 302px #FFF , 612px 827px #FFF , 1372px 442px #FFF , 1830px 1046px #FFF , 360px 900px #FFF , 981px 1332px #FFF , 1636px 147px #FFF , 498px 874px #FFF , 19px 1965px #FFF , 852px 1347px #FFF , 1026px 1245px #FFF , 1129px 1499px #FFF , 585px 711px #FFF , 1600px 1990px #FFF , 541px 1230px #FFF , 1496px 1392px #FFF , 1728px 1662px #FFF , 1270px 1201px #FFF , 11px 359px #FFF , 1248px 1768px #FFF , 1131px 923px #FFF , 1491px 769px #FFF , 390px 1007px #FFF , 1888px 1866px #FFF , 389px 414px #FFF , 1236px 931px #FFF , 1762px 1773px #FFF , 272px 1957px #FFF , 257px 353px #FFF , 1906px 1536px #FFF , 792px 1485px #FFF , 1615px 237px #FFF , 1625px 1967px #FFF , 1286px 1468px #FFF , 918px 1752px #FFF , 1991px 1708px #FFF , 231px 1034px #FFF , 117px 1218px #FFF , 1756px 1259px #FFF , 793px 234px #FFF , 1008px 546px #FFF , 992px 1754px #FFF , 241px 531px #FFF , 291px 1019px #FFF , 1398px 238px #FFF , 636px 1908px #FFF , 381px 1701px #FFF , 530px 1570px #FFF , 1963px 256px #FFF , 40px 312px #FFF , 398px 36px #FFF , 1500px 113px #FFF , 1841px 641px #FFF , 1594px 321px #FFF , 765px 1222px #FFF , 994px 422px #FFF , 1848px 1218px #FFF , 540px 895px #FFF , 1824px 429px #FFF , 1446px 1872px #FFF , 225px 1836px #FFF , 1055px 889px #FFF , 1635px 1530px #FFF , 1294px 746px #FFF , 786px 743px #FFF , 1368px 30px #FFF , 466px 1339px #FFF , 1807px 1674px #FFF , 330px 1156px #FFF , 1699px 832px #FFF , 159px 8px #FFF , 1388px 434px #FFF , 1952px 1307px #FFF , 260px 67px #FFF , 369px 550px #FFF , 672px 657px #FFF , 1342px 1058px #FFF , 1932px 347px #FFF , 1374px 642px #FFF , 547px 1248px #FFF , 1354px 260px #FFF , 747px 200px #FFF , 1402px 1928px #FFF , 124px 1042px #FFF , 1686px 520px #FFF , 593px 342px #FFF , 499px 271px #FFF , 1472px 757px #FFF , 785px 1544px #FFF , 1817px 376px #FFF , 1555px 1617px #FFF , 748px 1522px #FFF , 224px 795px #FFF , 1017px 1463px #FFF , 1960px 22px #FFF , 1944px 486px #FFF , 764px 241px #FFF , 1722px 925px #FFF , 789px 155px #FFF , 899px 555px #FFF , 1228px 1221px #FFF , 114px 1955px #FFF , 1734px 460px #FFF , 1119px 906px #FFF , 487px 834px #FFF , 1351px 1206px #FFF , 975px 1296px #FFF , 430px 1357px #FFF , 391px 162px #FFF , 338px 1586px #FFF , 1038px 474px #FFF , 666px 254px #FFF , 184px 673px #FFF , 867px 1194px #FFF , 1107px 1357px #FFF , 877px 42px #FFF , 1151px 1728px #FFF , 1959px 1672px #FFF , 1762px 869px #FFF , 1538px 240px #FFF , 1612px 925px #FFF , 889px 814px #FFF , 595px 445px #FFF , 1523px 1023px #FFF , 335px 1660px #FFF , 921px 127px #FFF , 783px 890px #FFF , 1px 1850px #FFF , 1510px 1206px #FFF , 455px 3px #FFF , 627px 1022px #FFF , 641px 1441px #FFF , 378px 1307px #FFF , 219px 1492px #FFF , 1232px 1158px #FFF , 1774px 637px #FFF , 1044px 1532px #FFF , 1089px 700px #FFF , 1049px 199px #FFF , 754px 1387px #FFF , 954px 182px #FFF , 1360px 130px #FFF , 111px 1227px #FFF , 1347px 1030px #FFF , 1334px 540px #FFF , 588px 1094px #FFF , 296px 1975px #FFF , 1487px 1378px #FFF , 40px 574px #FFF , 1409px 62px #FFF , 584px 1546px #FFF , 1097px 1641px #FFF , 1448px 1910px #FFF , 579px 1302px #FFF , 1084px 1872px #FFF , 1388px 1276px #FFF , 1484px 1026px #FFF , 201px 4px #FFF , 911px 324px #FFF , 152px 114px #FFF , 1250px 127px #FFF , 1319px 793px #FFF , 1788px 22px #FFF , 1646px 587px #FFF , 668px 474px #FFF , 1789px 1567px #FFF , 979px 1005px #FFF , 1964px 472px #FFF , 673px 6px #FFF , 567px 495px #FFF , 941px 1888px #FFF , 1236px 457px #FFF , 72px 293px #FFF , 704px 1769px #FFF , 1289px 392px #FFF , 1064px 1460px #FFF , 227px 1794px #FFF , 31px 1004px #FFF , 159px 1960px #FFF , 1244px 628px #FFF , 825px 1319px #FFF , 1993px 143px #FFF , 1834px 1843px #FFF , 1040px 194px #FFF , 442px 1641px #FFF , 1505px 945px #FFF , 1315px 406px #FFF , 518px 1438px #FFF , 1116px 1808px #FFF , 384px 1164px #FFF , 550px 1985px #FFF , 1589px 1282px #FFF , 266px 160px #FFF , 1084px 921px #FFF , 755px 751px #FFF , 775px 664px #FFF , 1509px 79px #FFF , 534px 108px #FFF , 1012px 1974px #FFF , 1653px 558px #FFF , 83px 1763px #FFF , 91px 275px #FFF , 486px 752px #FFF , 1301px 307px #FFF , 1781px 1800px #FFF , 217px 888px #FFF , 1465px 580px #FFF , 1766px 617px #FFF , 1625px 538px #FFF , 1081px 1620px #FFF , 1224px 476px #FFF , 1021px 1058px #FFF , 940px 1383px #FFF , 1968px 1528px #FFF , 1612px 1497px #FFF , 1608px 1528px #FFF , 492px 250px #FFF , 821px 716px #FFF , 1973px 1215px #FFF , 812px 219px #FFF , 1264px 812px #FFF , 1699px 1211px #FFF , 939px 156px #FFF , 1982px 1560px #FFF , 41px 1927px #FFF , 1591px 893px #FFF , 1398px 1383px #FFF , 653px 573px #FFF , 322px 1344px #FFF , 160px 1420px #FFF , 548px 1955px #FFF , 1030px 69px #FFF , 351px 1967px #FFF , 1369px 1485px #FFF , 1636px 387px #FFF , 1329px 1111px #FFF , 1543px 228px #FFF , 788px 126px #FFF , 1872px 193px #FFF , 614px 647px #FFF , 128px 792px #FFF , 1502px 1784px #FFF , 1714px 1980px #FFF , 150px 340px #FFF , 1615px 292px #FFF , 1147px 866px #FFF , 1992px 1489px #FFF , 1165px 459px #FFF , 1535px 1185px #FFF , 744px 862px #FFF , 912px 595px #FFF , 669px 639px #FFF , 493px 101px #FFF , 747px 562px #FFF , 900px 113px #FFF , 147px 1823px #FFF , 1967px 902px #FFF , 685px 820px #FFF , 1242px 1516px #FFF , 751px 1953px #FFF , 1335px 633px #FFF , 508px 1928px #FFF , 877px 706px #FFF , 1469px 385px #FFF , 1529px 60px #FFF , 1894px 1807px #FFF , 1917px 1757px #FFF , 1611px 893px #FFF , 1620px 1214px #FFF , 1503px 250px #FFF , 1504px 418px #FFF , 1176px 1882px #FFF , 1245px 1412px #FFF , 1512px 1464px #FFF , 1099px 1570px #FFF , 669px 1286px #FFF , 1566px 1912px #FFF , 1117px 1634px #FFF , 1215px 254px #FFF , 891px 1431px #FFF , 1936px 436px #FFF , 1226px 1940px #FFF , 681px 1008px #FFF , 276px 1177px #FFF , 1611px 1076px #FFF , 1671px 149px #FFF , 1990px 416px #FFF , 1650px 1606px #FFF , 1243px 1276px #FFF , 1742px 703px #FFF , 1044px 1996px #FFF , 1754px 273px #FFF , 1456px 390px #FFF , 256px 1177px #FFF , 754px 1052px #FFF , 416px 1911px #FFF , 1933px 1252px #FFF , 1465px 1221px #FFF , 1582px 940px #FFF , 1358px 147px #FFF , 1926px 1859px #FFF , 518px 24px #FFF , 1050px 1383px #FFF , 574px 1653px #FFF , 870px 225px #FFF , 697px 1904px #FFF , 1496px 5px #FFF , 286px 718px #FFF , 807px 1995px #FFF , 381px 913px #FFF , 855px 1509px #FFF , 820px 712px #FFF , 1444px 1358px #FFF , 1923px 643px #FFF , 967px 1364px #FFF , 1469px 1689px #FFF , 1977px 1599px #FFF , 542px 113px #FFF , 60px 1128px #FFF , 1003px 1052px #FFF , 1180px 199px #FFF , 1576px 228px #FFF , 1751px 963px #FFF , 86px 301px #FFF , 673px 375px #FFF , 987px 1599px #FFF , 1681px 1122px #FFF , 1247px 279px #FFF , 1020px 541px #FFF , 1229px 1425px #FFF , 1334px 199px #FFF , 1512px 75px #FFF , 1876px 1156px #FFF , 1696px 872px #FFF , 1582px 1359px #FFF , 1766px 1041px #FFF , 939px 689px #FFF , 99px 1566px #FFF , 82px 1149px #FFF , 48px 1096px #FFF , 1650px 638px #FFF , 1317px 1887px #FFF , 1957px 984px #FFF , 431px 774px #FFF , 655px 28px #FFF , 973px 1647px #FFF , 744px 1054px #FFF , 847px 1705px #FFF , 155px 347px #FFF , 1376px 1452px #FFF , 40px 227px #FFF , 91px 1826px #FFF , 253px 283px #FFF , 1780px 1639px #FFF , 782px 1297px #FFF , 1149px 1424px #FFF , 582px 955px #FFF , 1290px 632px #FFF , 1349px 1390px #FFF , 755px 1142px #FFF , 416px 1420px #FFF , 882px 106px #FFF , 1999px 552px #FFF , 1973px 608px #FFF , 685px 179px #FFF , 1881px 1677px #FFF , 1078px 946px #FFF , 175px 136px #FFF , 956px 1266px #FFF , 1487px 422px #FFF , 1462px 203px #FFF , 1097px 1792px #FFF , 1594px 1966px #FFF , 291px 1215px #FFF , 555px 1865px #FFF , 1347px 1799px #FFF , 1498px 402px #FFF , 791px 1189px #FFF , 1318px 1944px #FFF , 105px 834px #FFF , 622px 1978px #FFF , 784px 619px #FFF , 532px 155px #FFF , 1858px 755px #FFF , 1493px 437px #FFF , 1301px 623px #FFF , 1646px 1086px #FFF , 61px 555px #FFF , 1759px 1736px #FFF , 1767px 133px #FFF , 1224px 1506px #FFF , 241px 1684px #FFF , 478px 1282px #FFF , 562px 1944px #FFF , 630px 1684px #FFF , 1349px 1082px #FFF , 330px 585px #FFF , 211px 87px #FFF , 795px 1901px #FFF , 1936px 658px #FFF , 1218px 447px #FFF , 1313px 1264px #FFF , 1348px 750px #FFF , 1147px 1214px #FFF , 330px 728px #FFF , 623px 409px #FFF , 1628px 1014px #FFF , 711px 213px #FFF , 52px 1181px #FFF , 422px 133px #FFF , 724px 1393px #FFF , 535px 1089px #FFF , 718px 760px #FFF , 396px 539px #FFF , 588px 541px #FFF , 515px 85px #FFF , 693px 1390px #FFF , 161px 216px #FFF , 1139px 1380px #FFF , 1459px 1288px #FFF , 1983px 209px #FFF , 8px 1527px #FFF , 1588px 1104px #FFF , 825px 1587px #FFF , 56px 700px #FFF , 1046px 1769px #FFF , 1044px 1377px #FFF;
  animation: animStar 50s linear infinite;
}
body.dark #stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1864px 1584px #FFF , 1057px 1232px #FFF , 311px 912px #FFF , 61px 769px #FFF , 1447px 1414px #FFF , 1935px 827px #FFF , 754px 1272px #FFF , 484px 374px #FFF , 674px 528px #FFF , 1353px 206px #FFF , 1009px 54px #FFF , 562px 402px #FFF , 815px 1602px #FFF , 1650px 335px #FFF , 1861px 1996px #FFF , 652px 814px #FFF , 173px 1796px #FFF , 1084px 1604px #FFF , 1760px 1344px #FFF , 1724px 557px #FFF , 524px 908px #FFF , 534px 13px #FFF , 320px 116px #FFF , 1507px 763px #FFF , 1745px 136px #FFF , 1292px 1556px #FFF , 1845px 1524px #FFF , 427px 1298px #FFF , 1398px 1198px #FFF , 209px 1324px #FFF , 627px 1401px #FFF , 512px 434px #FFF , 1988px 1294px #FFF , 239px 141px #FFF , 721px 252px #FFF , 565px 1498px #FFF , 971px 1124px #FFF , 244px 808px #FFF , 818px 1641px #FFF , 277px 628px #FFF , 1156px 1738px #FFF , 1902px 1862px #FFF , 1772px 1215px #FFF , 1298px 565px #FFF , 273px 617px #FFF , 1776px 1437px #FFF , 445px 1128px #FFF , 570px 539px #FFF , 1867px 1695px #FFF , 1856px 416px #FFF , 667px 72px #FFF , 1319px 926px #FFF , 1315px 1354px #FFF , 856px 284px #FFF , 519px 54px #FFF , 89px 114px #FFF , 1354px 884px #FFF , 108px 1811px #FFF , 1494px 573px #FFF , 1078px 1874px #FFF , 1419px 663px #FFF , 1064px 386px #FFF , 1335px 663px #FFF , 701px 569px #FFF , 354px 1107px #FFF , 1145px 1450px #FFF , 1618px 933px #FFF , 1362px 659px #FFF , 1484px 800px #FFF , 1982px 834px #FFF , 1251px 691px #FFF , 95px 1117px #FFF , 567px 631px #FFF , 131px 1673px #FFF , 1415px 10px #FFF , 779px 1851px #FFF , 1344px 1887px #FFF , 1715px 1088px #FFF , 181px 1539px #FFF , 433px 224px #FFF , 1398px 1154px #FFF , 1116px 212px #FFF , 1165px 264px #FFF , 647px 1898px #FFF , 1663px 1859px #FFF , 1457px 1147px #FFF , 720px 462px #FFF , 1572px 1805px #FFF , 658px 569px #FFF , 262px 60px #FFF , 1355px 1176px #FFF , 122px 1063px #FFF , 1072px 1990px #FFF , 1590px 1523px #FFF , 1343px 55px #FFF , 805px 662px #FFF , 405px 412px #FFF , 185px 1600px #FFF , 1189px 953px #FFF , 1609px 1978px #FFF , 1881px 806px #FFF , 908px 196px #FFF , 224px 81px #FFF , 830px 1983px #FFF , 1327px 551px #FFF , 1063px 1324px #FFF , 545px 1993px #FFF , 666px 1154px #FFF , 1261px 1100px #FFF , 1633px 855px #FFF , 302px 727px #FFF , 210px 1289px #FFF , 944px 17px #FFF , 799px 648px #FFF , 1441px 1373px #FFF , 1101px 1524px #FFF , 850px 1432px #FFF , 1021px 198px #FFF , 1552px 211px #FFF , 966px 929px #FFF , 815px 1565px #FFF , 1090px 581px #FFF , 369px 1118px #FFF , 507px 91px #FFF , 1339px 1472px #FFF , 131px 1329px #FFF , 325px 902px #FFF , 140px 1018px #FFF , 924px 1247px #FFF , 1067px 1952px #FFF , 634px 992px #FFF , 538px 1940px #FFF , 1651px 1737px #FFF , 1972px 1510px #FFF , 1020px 488px #FFF , 609px 484px #FFF , 1907px 1220px #FFF , 1531px 171px #FFF , 1215px 1028px #FFF , 1906px 577px #FFF , 1681px 1127px #FFF , 775px 1428px #FFF , 116px 1908px #FFF , 1600px 260px #FFF , 1875px 1423px #FFF , 642px 248px #FFF , 848px 587px #FFF , 1424px 979px #FFF , 1337px 410px #FFF , 790px 1745px #FFF , 40px 1706px #FFF , 1456px 905px #FFF , 974px 501px #FFF , 1162px 604px #FFF , 1015px 76px #FFF , 1587px 1093px #FFF , 1467px 447px #FFF , 733px 489px #FFF , 339px 939px #FFF , 1906px 1696px #FFF , 1522px 1821px #FFF , 264px 5px #FFF , 91px 554px #FFF , 345px 17px #FFF , 597px 1078px #FFF , 1491px 1405px #FFF , 1694px 1239px #FFF , 406px 1118px #FFF , 601px 642px #FFF , 1520px 1951px #FFF , 1922px 1329px #FFF , 62px 928px #FFF , 1821px 864px #FFF , 1672px 1814px #FFF , 383px 431px #FFF , 1385px 118px #FFF , 1987px 984px #FFF , 1237px 930px #FFF , 418px 677px #FFF , 753px 148px #FFF , 674px 840px #FFF , 322px 1982px #FFF , 1550px 912px #FFF , 637px 244px #FFF , 1752px 209px #FFF , 1855px 1411px #FFF , 225px 1096px #FFF , 906px 1854px #FFF , 1058px 1920px #FFF , 901px 1069px #FFF , 1736px 1057px #FFF , 739px 1291px #FFF , 1295px 820px #FFF , 582px 1532px #FFF , 1927px 230px #FFF , 999px 781px #FFF , 1319px 558px #FFF , 1022px 1163px #FFF , 1146px 1805px #FFF , 839px 353px #FFF , 634px 891px #FFF , 678px 387px #FFF , 364px 654px #FFF , 264px 1172px #FFF , 1501px 1437px #FFF , 1451px 1071px #FFF , 96px 1824px #FFF , 1378px 995px #FFF , 946px 1590px #FFF , 1689px 202px #FFF , 1623px 1400px #FFF , 1365px 787px #FFF , 774px 191px #FFF , 979px 1988px #FFF , 1750px 608px #FFF , 1076px 1718px #FFF , 691px 753px #FFF , 1713px 1117px #FFF , 613px 464px #FFF , 198px 151px #FFF , 1636px 932px #FFF , 669px 635px #FFF , 373px 1633px #FFF , 1547px 457px #FFF , 1267px 1413px #FFF , 1906px 994px #FFF , 189px 1279px #FFF , 1221px 1285px #FFF , 942px 1062px #FFF , 884px 230px #FFF , 755px 1425px #FFF , 232px 109px #FFF , 127px 893px #FFF , 688px 772px #FFF , 315px 1847px #FFF , 985px 1767px #FFF , 719px 1089px #FFF , 204px 402px #FFF , 1154px 181px #FFF , 159px 1121px #FFF , 33px 1306px #FFF , 394px 1146px #FFF , 1499px 622px #FFF , 1493px 239px #FFF , 140px 1907px #FFF , 587px 527px #FFF , 833px 945px #FFF , 862px 344px #FFF , 148px 17px #FFF , 1780px 904px #FFF , 1411px 120px #FFF , 714px 679px #FFF , 1009px 327px #FFF , 1029px 1578px #FFF , 1847px 147px #FFF , 1715px 115px #FFF , 539px 957px #FFF , 456px 1101px #FFF , 1332px 1072px #FFF , 766px 85px #FFF , 165px 456px #FFF , 729px 437px #FFF , 966px 592px #FFF , 1851px 1863px #FFF , 1153px 791px #FFF , 616px 68px #FFF , 639px 1302px #FFF , 150px 1205px #FFF , 841px 1763px #FFF , 663px 1864px #FFF , 1569px 1336px #FFF , 263px 1239px #FFF , 263px 1447px #FFF , 957px 302px #FFF , 612px 827px #FFF , 1372px 442px #FFF , 1830px 1046px #FFF , 360px 900px #FFF , 981px 1332px #FFF , 1636px 147px #FFF , 498px 874px #FFF , 19px 1965px #FFF , 852px 1347px #FFF , 1026px 1245px #FFF , 1129px 1499px #FFF , 585px 711px #FFF , 1600px 1990px #FFF , 541px 1230px #FFF , 1496px 1392px #FFF , 1728px 1662px #FFF , 1270px 1201px #FFF , 11px 359px #FFF , 1248px 1768px #FFF , 1131px 923px #FFF , 1491px 769px #FFF , 390px 1007px #FFF , 1888px 1866px #FFF , 389px 414px #FFF , 1236px 931px #FFF , 1762px 1773px #FFF , 272px 1957px #FFF , 257px 353px #FFF , 1906px 1536px #FFF , 792px 1485px #FFF , 1615px 237px #FFF , 1625px 1967px #FFF , 1286px 1468px #FFF , 918px 1752px #FFF , 1991px 1708px #FFF , 231px 1034px #FFF , 117px 1218px #FFF , 1756px 1259px #FFF , 793px 234px #FFF , 1008px 546px #FFF , 992px 1754px #FFF , 241px 531px #FFF , 291px 1019px #FFF , 1398px 238px #FFF , 636px 1908px #FFF , 381px 1701px #FFF , 530px 1570px #FFF , 1963px 256px #FFF , 40px 312px #FFF , 398px 36px #FFF , 1500px 113px #FFF , 1841px 641px #FFF , 1594px 321px #FFF , 765px 1222px #FFF , 994px 422px #FFF , 1848px 1218px #FFF , 540px 895px #FFF , 1824px 429px #FFF , 1446px 1872px #FFF , 225px 1836px #FFF , 1055px 889px #FFF , 1635px 1530px #FFF , 1294px 746px #FFF , 786px 743px #FFF , 1368px 30px #FFF , 466px 1339px #FFF , 1807px 1674px #FFF , 330px 1156px #FFF , 1699px 832px #FFF , 159px 8px #FFF , 1388px 434px #FFF , 1952px 1307px #FFF , 260px 67px #FFF , 369px 550px #FFF , 672px 657px #FFF , 1342px 1058px #FFF , 1932px 347px #FFF , 1374px 642px #FFF , 547px 1248px #FFF , 1354px 260px #FFF , 747px 200px #FFF , 1402px 1928px #FFF , 124px 1042px #FFF , 1686px 520px #FFF , 593px 342px #FFF , 499px 271px #FFF , 1472px 757px #FFF , 785px 1544px #FFF , 1817px 376px #FFF , 1555px 1617px #FFF , 748px 1522px #FFF , 224px 795px #FFF , 1017px 1463px #FFF , 1960px 22px #FFF , 1944px 486px #FFF , 764px 241px #FFF , 1722px 925px #FFF , 789px 155px #FFF , 899px 555px #FFF , 1228px 1221px #FFF , 114px 1955px #FFF , 1734px 460px #FFF , 1119px 906px #FFF , 487px 834px #FFF , 1351px 1206px #FFF , 975px 1296px #FFF , 430px 1357px #FFF , 391px 162px #FFF , 338px 1586px #FFF , 1038px 474px #FFF , 666px 254px #FFF , 184px 673px #FFF , 867px 1194px #FFF , 1107px 1357px #FFF , 877px 42px #FFF , 1151px 1728px #FFF , 1959px 1672px #FFF , 1762px 869px #FFF , 1538px 240px #FFF , 1612px 925px #FFF , 889px 814px #FFF , 595px 445px #FFF , 1523px 1023px #FFF , 335px 1660px #FFF , 921px 127px #FFF , 783px 890px #FFF , 1px 1850px #FFF , 1510px 1206px #FFF , 455px 3px #FFF , 627px 1022px #FFF , 641px 1441px #FFF , 378px 1307px #FFF , 219px 1492px #FFF , 1232px 1158px #FFF , 1774px 637px #FFF , 1044px 1532px #FFF , 1089px 700px #FFF , 1049px 199px #FFF , 754px 1387px #FFF , 954px 182px #FFF , 1360px 130px #FFF , 111px 1227px #FFF , 1347px 1030px #FFF , 1334px 540px #FFF , 588px 1094px #FFF , 296px 1975px #FFF , 1487px 1378px #FFF , 40px 574px #FFF , 1409px 62px #FFF , 584px 1546px #FFF , 1097px 1641px #FFF , 1448px 1910px #FFF , 579px 1302px #FFF , 1084px 1872px #FFF , 1388px 1276px #FFF , 1484px 1026px #FFF , 201px 4px #FFF , 911px 324px #FFF , 152px 114px #FFF , 1250px 127px #FFF , 1319px 793px #FFF , 1788px 22px #FFF , 1646px 587px #FFF , 668px 474px #FFF , 1789px 1567px #FFF , 979px 1005px #FFF , 1964px 472px #FFF , 673px 6px #FFF , 567px 495px #FFF , 941px 1888px #FFF , 1236px 457px #FFF , 72px 293px #FFF , 704px 1769px #FFF , 1289px 392px #FFF , 1064px 1460px #FFF , 227px 1794px #FFF , 31px 1004px #FFF , 159px 1960px #FFF , 1244px 628px #FFF , 825px 1319px #FFF , 1993px 143px #FFF , 1834px 1843px #FFF , 1040px 194px #FFF , 442px 1641px #FFF , 1505px 945px #FFF , 1315px 406px #FFF , 518px 1438px #FFF , 1116px 1808px #FFF , 384px 1164px #FFF , 550px 1985px #FFF , 1589px 1282px #FFF , 266px 160px #FFF , 1084px 921px #FFF , 755px 751px #FFF , 775px 664px #FFF , 1509px 79px #FFF , 534px 108px #FFF , 1012px 1974px #FFF , 1653px 558px #FFF , 83px 1763px #FFF , 91px 275px #FFF , 486px 752px #FFF , 1301px 307px #FFF , 1781px 1800px #FFF , 217px 888px #FFF , 1465px 580px #FFF , 1766px 617px #FFF , 1625px 538px #FFF , 1081px 1620px #FFF , 1224px 476px #FFF , 1021px 1058px #FFF , 940px 1383px #FFF , 1968px 1528px #FFF , 1612px 1497px #FFF , 1608px 1528px #FFF , 492px 250px #FFF , 821px 716px #FFF , 1973px 1215px #FFF , 812px 219px #FFF , 1264px 812px #FFF , 1699px 1211px #FFF , 939px 156px #FFF , 1982px 1560px #FFF , 41px 1927px #FFF , 1591px 893px #FFF , 1398px 1383px #FFF , 653px 573px #FFF , 322px 1344px #FFF , 160px 1420px #FFF , 548px 1955px #FFF , 1030px 69px #FFF , 351px 1967px #FFF , 1369px 1485px #FFF , 1636px 387px #FFF , 1329px 1111px #FFF , 1543px 228px #FFF , 788px 126px #FFF , 1872px 193px #FFF , 614px 647px #FFF , 128px 792px #FFF , 1502px 1784px #FFF , 1714px 1980px #FFF , 150px 340px #FFF , 1615px 292px #FFF , 1147px 866px #FFF , 1992px 1489px #FFF , 1165px 459px #FFF , 1535px 1185px #FFF , 744px 862px #FFF , 912px 595px #FFF , 669px 639px #FFF , 493px 101px #FFF , 747px 562px #FFF , 900px 113px #FFF , 147px 1823px #FFF , 1967px 902px #FFF , 685px 820px #FFF , 1242px 1516px #FFF , 751px 1953px #FFF , 1335px 633px #FFF , 508px 1928px #FFF , 877px 706px #FFF , 1469px 385px #FFF , 1529px 60px #FFF , 1894px 1807px #FFF , 1917px 1757px #FFF , 1611px 893px #FFF , 1620px 1214px #FFF , 1503px 250px #FFF , 1504px 418px #FFF , 1176px 1882px #FFF , 1245px 1412px #FFF , 1512px 1464px #FFF , 1099px 1570px #FFF , 669px 1286px #FFF , 1566px 1912px #FFF , 1117px 1634px #FFF , 1215px 254px #FFF , 891px 1431px #FFF , 1936px 436px #FFF , 1226px 1940px #FFF , 681px 1008px #FFF , 276px 1177px #FFF , 1611px 1076px #FFF , 1671px 149px #FFF , 1990px 416px #FFF , 1650px 1606px #FFF , 1243px 1276px #FFF , 1742px 703px #FFF , 1044px 1996px #FFF , 1754px 273px #FFF , 1456px 390px #FFF , 256px 1177px #FFF , 754px 1052px #FFF , 416px 1911px #FFF , 1933px 1252px #FFF , 1465px 1221px #FFF , 1582px 940px #FFF , 1358px 147px #FFF , 1926px 1859px #FFF , 518px 24px #FFF , 1050px 1383px #FFF , 574px 1653px #FFF , 870px 225px #FFF , 697px 1904px #FFF , 1496px 5px #FFF , 286px 718px #FFF , 807px 1995px #FFF , 381px 913px #FFF , 855px 1509px #FFF , 820px 712px #FFF , 1444px 1358px #FFF , 1923px 643px #FFF , 967px 1364px #FFF , 1469px 1689px #FFF , 1977px 1599px #FFF , 542px 113px #FFF , 60px 1128px #FFF , 1003px 1052px #FFF , 1180px 199px #FFF , 1576px 228px #FFF , 1751px 963px #FFF , 86px 301px #FFF , 673px 375px #FFF , 987px 1599px #FFF , 1681px 1122px #FFF , 1247px 279px #FFF , 1020px 541px #FFF , 1229px 1425px #FFF , 1334px 199px #FFF , 1512px 75px #FFF , 1876px 1156px #FFF , 1696px 872px #FFF , 1582px 1359px #FFF , 1766px 1041px #FFF , 939px 689px #FFF , 99px 1566px #FFF , 82px 1149px #FFF , 48px 1096px #FFF , 1650px 638px #FFF , 1317px 1887px #FFF , 1957px 984px #FFF , 431px 774px #FFF , 655px 28px #FFF , 973px 1647px #FFF , 744px 1054px #FFF , 847px 1705px #FFF , 155px 347px #FFF , 1376px 1452px #FFF , 40px 227px #FFF , 91px 1826px #FFF , 253px 283px #FFF , 1780px 1639px #FFF , 782px 1297px #FFF , 1149px 1424px #FFF , 582px 955px #FFF , 1290px 632px #FFF , 1349px 1390px #FFF , 755px 1142px #FFF , 416px 1420px #FFF , 882px 106px #FFF , 1999px 552px #FFF , 1973px 608px #FFF , 685px 179px #FFF , 1881px 1677px #FFF , 1078px 946px #FFF , 175px 136px #FFF , 956px 1266px #FFF , 1487px 422px #FFF , 1462px 203px #FFF , 1097px 1792px #FFF , 1594px 1966px #FFF , 291px 1215px #FFF , 555px 1865px #FFF , 1347px 1799px #FFF , 1498px 402px #FFF , 791px 1189px #FFF , 1318px 1944px #FFF , 105px 834px #FFF , 622px 1978px #FFF , 784px 619px #FFF , 532px 155px #FFF , 1858px 755px #FFF , 1493px 437px #FFF , 1301px 623px #FFF , 1646px 1086px #FFF , 61px 555px #FFF , 1759px 1736px #FFF , 1767px 133px #FFF , 1224px 1506px #FFF , 241px 1684px #FFF , 478px 1282px #FFF , 562px 1944px #FFF , 630px 1684px #FFF , 1349px 1082px #FFF , 330px 585px #FFF , 211px 87px #FFF , 795px 1901px #FFF , 1936px 658px #FFF , 1218px 447px #FFF , 1313px 1264px #FFF , 1348px 750px #FFF , 1147px 1214px #FFF , 330px 728px #FFF , 623px 409px #FFF , 1628px 1014px #FFF , 711px 213px #FFF , 52px 1181px #FFF , 422px 133px #FFF , 724px 1393px #FFF , 535px 1089px #FFF , 718px 760px #FFF , 396px 539px #FFF , 588px 541px #FFF , 515px 85px #FFF , 693px 1390px #FFF , 161px 216px #FFF , 1139px 1380px #FFF , 1459px 1288px #FFF , 1983px 209px #FFF , 8px 1527px #FFF , 1588px 1104px #FFF , 825px 1587px #FFF , 56px 700px #FFF , 1046px 1769px #FFF , 1044px 1377px #FFF;
}

body.dark #stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 549px 185px #FFF , 1710px 1576px #FFF , 94px 223px #FFF , 159px 923px #FFF , 1850px 1870px #FFF , 214px 707px #FFF , 1949px 1376px #FFF , 1548px 1836px #FFF , 1531px 466px #FFF , 1580px 1123px #FFF , 1433px 1489px #FFF , 446px 393px #FFF , 842px 1188px #FFF , 1424px 1768px #FFF , 1737px 559px #FFF , 1302px 1843px #FFF , 776px 415px #FFF , 1657px 1523px #FFF , 1199px 1543px #FFF , 911px 239px #FFF , 1780px 742px #FFF , 1312px 1249px #FFF , 869px 1216px #FFF , 1429px 1916px #FFF , 704px 566px #FFF , 1747px 642px #FFF , 1417px 839px #FFF , 1445px 109px #FFF , 1415px 1018px #FFF , 1513px 1595px #FFF , 227px 881px #FFF , 258px 1939px #FFF , 1024px 182px #FFF , 1216px 1818px #FFF , 1173px 870px #FFF , 1858px 120px #FFF , 769px 216px #FFF , 1237px 877px #FFF , 1268px 947px #FFF , 1007px 1614px #FFF , 483px 774px #FFF , 1602px 147px #FFF , 955px 300px #FFF , 1373px 74px #FFF , 136px 1327px #FFF , 239px 674px #FFF , 394px 1150px #FFF , 1288px 1290px #FFF , 1662px 318px #FFF , 720px 785px #FFF , 1073px 1230px #FFF , 768px 1384px #FFF , 726px 1695px #FFF , 1918px 1397px #FFF , 230px 964px #FFF , 1431px 1181px #FFF , 1467px 1229px #FFF , 1916px 1397px #FFF , 875px 897px #FFF , 1685px 304px #FFF , 796px 196px #FFF , 1136px 480px #FFF , 860px 1353px #FFF , 1630px 315px #FFF , 754px 975px #FFF , 1549px 1623px #FFF , 1412px 1637px #FFF , 498px 363px #FFF , 790px 1410px #FFF , 673px 649px #FFF , 1327px 276px #FFF , 596px 260px #FFF , 1403px 1738px #FFF , 570px 351px #FFF , 1969px 1984px #FFF , 1547px 1032px #FFF , 810px 1295px #FFF , 1267px 1845px #FFF , 1035px 1000px #FFF , 629px 68px #FFF , 1354px 536px #FFF , 1747px 1703px #FFF , 544px 1862px #FFF , 883px 916px #FFF , 592px 1714px #FFF , 1925px 1790px #FFF , 1614px 902px #FFF , 518px 1864px #FFF , 74px 1047px #FFF , 114px 1830px #FFF , 271px 1766px #FFF , 275px 1155px #FFF , 1515px 1516px #FFF , 672px 1298px #FFF , 1930px 1239px #FFF , 407px 1888px #FFF , 1941px 207px #FFF , 1728px 1187px #FFF , 403px 1281px #FFF , 252px 1894px #FFF , 1420px 1849px #FFF , 40px 1947px #FFF , 731px 335px #FFF , 965px 1229px #FFF , 451px 674px #FFF , 538px 293px #FFF , 176px 301px #FFF , 344px 1877px #FFF , 1102px 1315px #FFF , 1120px 470px #FFF , 1620px 1149px #FFF , 548px 984px #FFF , 1479px 1544px #FFF , 624px 1249px #FFF , 1725px 624px #FFF , 1610px 160px #FFF , 1400px 1615px #FFF , 230px 961px #FFF , 1901px 1646px #FFF , 419px 117px #FFF , 96px 1474px #FFF , 396px 1518px #FFF , 1712px 111px #FFF , 1629px 735px #FFF , 1268px 407px #FFF , 982px 1372px #FFF , 1952px 1815px #FFF , 1504px 1103px #FFF , 321px 120px #FFF , 805px 1130px #FFF , 518px 1897px #FFF , 349px 212px #FFF , 920px 22px #FFF , 569px 1278px #FFF , 510px 781px #FFF , 1514px 1702px #FFF , 1049px 145px #FFF , 1983px 1462px #FFF , 366px 787px #FFF , 321px 1492px #FFF , 1970px 986px #FFF , 1291px 328px #FFF , 191px 904px #FFF , 16px 793px #FFF , 1352px 992px #FFF , 350px 1793px #FFF , 850px 157px #FFF , 1254px 1467px #FFF , 1687px 62px #FFF , 1719px 1916px #FFF , 946px 1786px #FFF , 683px 716px #FFF , 1650px 1036px #FFF , 1473px 1022px #FFF , 100px 1873px #FFF , 1000px 763px #FFF , 1263px 1908px #FFF , 935px 1864px #FFF , 103px 296px #FFF , 1500px 1859px #FFF , 662px 217px #FFF , 1255px 235px #FFF , 249px 1146px #FFF , 1757px 85px #FFF , 1419px 610px #FFF , 1027px 1972px #FFF , 1838px 940px #FFF , 565px 1849px #FFF , 1028px 1173px #FFF , 1508px 843px #FFF , 1265px 457px #FFF , 1676px 1906px #FFF , 1568px 1398px #FFF , 600px 757px #FFF , 422px 1908px #FFF , 686px 1041px #FFF , 1649px 214px #FFF , 1110px 1191px #FFF , 1910px 1715px #FFF , 1069px 1670px #FFF , 1588px 361px #FFF , 540px 669px #FFF , 1589px 291px #FFF , 1818px 555px #FFF , 1053px 856px #FFF , 1530px 1790px #FFF , 1030px 1333px #FFF , 1213px 1870px #FFF , 1244px 1992px #FFF , 1321px 1981px #FFF , 222px 1946px #FFF , 1765px 1776px #FFF , 427px 891px #FFF , 1402px 109px #FFF , 551px 53px #FFF , 387px 1655px #FFF , 599px 930px #FFF , 1012px 1502px #FFF , 39px 501px #FFF , 288px 1410px #FFF;
  animation: animStar 100s linear infinite;
}
body.dark #stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 549px 185px #FFF , 1710px 1576px #FFF , 94px 223px #FFF , 159px 923px #FFF , 1850px 1870px #FFF , 214px 707px #FFF , 1949px 1376px #FFF , 1548px 1836px #FFF , 1531px 466px #FFF , 1580px 1123px #FFF , 1433px 1489px #FFF , 446px 393px #FFF , 842px 1188px #FFF , 1424px 1768px #FFF , 1737px 559px #FFF , 1302px 1843px #FFF , 776px 415px #FFF , 1657px 1523px #FFF , 1199px 1543px #FFF , 911px 239px #FFF , 1780px 742px #FFF , 1312px 1249px #FFF , 869px 1216px #FFF , 1429px 1916px #FFF , 704px 566px #FFF , 1747px 642px #FFF , 1417px 839px #FFF , 1445px 109px #FFF , 1415px 1018px #FFF , 1513px 1595px #FFF , 227px 881px #FFF , 258px 1939px #FFF , 1024px 182px #FFF , 1216px 1818px #FFF , 1173px 870px #FFF , 1858px 120px #FFF , 769px 216px #FFF , 1237px 877px #FFF , 1268px 947px #FFF , 1007px 1614px #FFF , 483px 774px #FFF , 1602px 147px #FFF , 955px 300px #FFF , 1373px 74px #FFF , 136px 1327px #FFF , 239px 674px #FFF , 394px 1150px #FFF , 1288px 1290px #FFF , 1662px 318px #FFF , 720px 785px #FFF , 1073px 1230px #FFF , 768px 1384px #FFF , 726px 1695px #FFF , 1918px 1397px #FFF , 230px 964px #FFF , 1431px 1181px #FFF , 1467px 1229px #FFF , 1916px 1397px #FFF , 875px 897px #FFF , 1685px 304px #FFF , 796px 196px #FFF , 1136px 480px #FFF , 860px 1353px #FFF , 1630px 315px #FFF , 754px 975px #FFF , 1549px 1623px #FFF , 1412px 1637px #FFF , 498px 363px #FFF , 790px 1410px #FFF , 673px 649px #FFF , 1327px 276px #FFF , 596px 260px #FFF , 1403px 1738px #FFF , 570px 351px #FFF , 1969px 1984px #FFF , 1547px 1032px #FFF , 810px 1295px #FFF , 1267px 1845px #FFF , 1035px 1000px #FFF , 629px 68px #FFF , 1354px 536px #FFF , 1747px 1703px #FFF , 544px 1862px #FFF , 883px 916px #FFF , 592px 1714px #FFF , 1925px 1790px #FFF , 1614px 902px #FFF , 518px 1864px #FFF , 74px 1047px #FFF , 114px 1830px #FFF , 271px 1766px #FFF , 275px 1155px #FFF , 1515px 1516px #FFF , 672px 1298px #FFF , 1930px 1239px #FFF , 407px 1888px #FFF , 1941px 207px #FFF , 1728px 1187px #FFF , 403px 1281px #FFF , 252px 1894px #FFF , 1420px 1849px #FFF , 40px 1947px #FFF , 731px 335px #FFF , 965px 1229px #FFF , 451px 674px #FFF , 538px 293px #FFF , 176px 301px #FFF , 344px 1877px #FFF , 1102px 1315px #FFF , 1120px 470px #FFF , 1620px 1149px #FFF , 548px 984px #FFF , 1479px 1544px #FFF , 624px 1249px #FFF , 1725px 624px #FFF , 1610px 160px #FFF , 1400px 1615px #FFF , 230px 961px #FFF , 1901px 1646px #FFF , 419px 117px #FFF , 96px 1474px #FFF , 396px 1518px #FFF , 1712px 111px #FFF , 1629px 735px #FFF , 1268px 407px #FFF , 982px 1372px #FFF , 1952px 1815px #FFF , 1504px 1103px #FFF , 321px 120px #FFF , 805px 1130px #FFF , 518px 1897px #FFF , 349px 212px #FFF , 920px 22px #FFF , 569px 1278px #FFF , 510px 781px #FFF , 1514px 1702px #FFF , 1049px 145px #FFF , 1983px 1462px #FFF , 366px 787px #FFF , 321px 1492px #FFF , 1970px 986px #FFF , 1291px 328px #FFF , 191px 904px #FFF , 16px 793px #FFF , 1352px 992px #FFF , 350px 1793px #FFF , 850px 157px #FFF , 1254px 1467px #FFF , 1687px 62px #FFF , 1719px 1916px #FFF , 946px 1786px #FFF , 683px 716px #FFF , 1650px 1036px #FFF , 1473px 1022px #FFF , 100px 1873px #FFF , 1000px 763px #FFF , 1263px 1908px #FFF , 935px 1864px #FFF , 103px 296px #FFF , 1500px 1859px #FFF , 662px 217px #FFF , 1255px 235px #FFF , 249px 1146px #FFF , 1757px 85px #FFF , 1419px 610px #FFF , 1027px 1972px #FFF , 1838px 940px #FFF , 565px 1849px #FFF , 1028px 1173px #FFF , 1508px 843px #FFF , 1265px 457px #FFF , 1676px 1906px #FFF , 1568px 1398px #FFF , 600px 757px #FFF , 422px 1908px #FFF , 686px 1041px #FFF , 1649px 214px #FFF , 1110px 1191px #FFF , 1910px 1715px #FFF , 1069px 1670px #FFF , 1588px 361px #FFF , 540px 669px #FFF , 1589px 291px #FFF , 1818px 555px #FFF , 1053px 856px #FFF , 1530px 1790px #FFF , 1030px 1333px #FFF , 1213px 1870px #FFF , 1244px 1992px #FFF , 1321px 1981px #FFF , 222px 1946px #FFF , 1765px 1776px #FFF , 427px 891px #FFF , 1402px 109px #FFF , 551px 53px #FFF , 387px 1655px #FFF , 599px 930px #FFF , 1012px 1502px #FFF , 39px 501px #FFF , 288px 1410px #FFF;
}

body.dark #stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 24px 1262px #FFF , 873px 1538px #FFF , 770px 536px #FFF , 1093px 50px #FFF , 207px 935px #FFF , 272px 1558px #FFF , 1392px 1144px #FFF , 1709px 1296px #FFF , 1401px 1557px #FFF , 1319px 88px #FFF , 794px 497px #FFF , 1754px 1813px #FFF , 86px 645px #FFF , 1352px 1982px #FFF , 475px 176px #FFF , 1425px 1931px #FFF , 1509px 1169px #FFF , 905px 59px #FFF , 1307px 689px #FFF , 34px 1664px #FFF , 1535px 801px #FFF , 1614px 95px #FFF , 1724px 204px #FFF , 73px 1769px #FFF , 1470px 1890px #FFF , 435px 1672px #FFF , 1139px 1637px #FFF , 2px 1193px #FFF , 1458px 1971px #FFF , 1085px 1423px #FFF , 349px 1727px #FFF , 651px 216px #FFF , 1771px 1301px #FFF , 1405px 1908px #FFF , 291px 1944px #FFF , 1668px 22px #FFF , 465px 544px #FFF , 162px 566px #FFF , 156px 825px #FFF , 1393px 1840px #FFF , 626px 338px #FFF , 38px 1556px #FFF , 1437px 1136px #FFF , 644px 743px #FFF , 292px 1739px #FFF , 64px 1363px #FFF , 1649px 1586px #FFF , 642px 1045px #FFF , 1659px 1636px #FFF , 906px 1189px #FFF , 316px 945px #FFF , 1417px 959px #FFF , 732px 1311px #FFF , 1313px 18px #FFF , 1745px 1129px #FFF , 898px 688px #FFF , 953px 1055px #FFF , 393px 1214px #FFF , 1632px 1893px #FFF , 77px 1451px #FFF , 460px 223px #FFF , 106px 856px #FFF , 1142px 1980px #FFF , 1346px 1352px #FFF , 1932px 1756px #FFF , 1416px 590px #FFF , 170px 988px #FFF , 1521px 523px #FFF , 852px 1227px #FFF , 1059px 101px #FFF , 1857px 1706px #FFF , 1859px 1647px #FFF , 1538px 117px #FFF , 1997px 6px #FFF , 258px 1741px #FFF , 1616px 1541px #FFF , 1030px 1698px #FFF , 1117px 510px #FFF , 314px 193px #FFF , 236px 1344px #FFF , 1434px 863px #FFF , 528px 441px #FFF , 1808px 1439px #FFF , 1095px 393px #FFF , 1000px 1166px #FFF , 1483px 1388px #FFF , 103px 449px #FFF , 1413px 1140px #FFF , 1065px 1919px #FFF , 1364px 1353px #FFF , 789px 663px #FFF , 1004px 1402px #FFF , 1288px 652px #FFF , 1893px 1804px #FFF , 37px 311px #FFF , 301px 955px #FFF , 1589px 648px #FFF , 1988px 1202px #FFF , 1565px 10px #FFF , 1818px 1896px #FFF;
  animation: animStar 150s linear infinite;
}
body.dark #stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 24px 1262px #FFF , 873px 1538px #FFF , 770px 536px #FFF , 1093px 50px #FFF , 207px 935px #FFF , 272px 1558px #FFF , 1392px 1144px #FFF , 1709px 1296px #FFF , 1401px 1557px #FFF , 1319px 88px #FFF , 794px 497px #FFF , 1754px 1813px #FFF , 86px 645px #FFF , 1352px 1982px #FFF , 475px 176px #FFF , 1425px 1931px #FFF , 1509px 1169px #FFF , 905px 59px #FFF , 1307px 689px #FFF , 34px 1664px #FFF , 1535px 801px #FFF , 1614px 95px #FFF , 1724px 204px #FFF , 73px 1769px #FFF , 1470px 1890px #FFF , 435px 1672px #FFF , 1139px 1637px #FFF , 2px 1193px #FFF , 1458px 1971px #FFF , 1085px 1423px #FFF , 349px 1727px #FFF , 651px 216px #FFF , 1771px 1301px #FFF , 1405px 1908px #FFF , 291px 1944px #FFF , 1668px 22px #FFF , 465px 544px #FFF , 162px 566px #FFF , 156px 825px #FFF , 1393px 1840px #FFF , 626px 338px #FFF , 38px 1556px #FFF , 1437px 1136px #FFF , 644px 743px #FFF , 292px 1739px #FFF , 64px 1363px #FFF , 1649px 1586px #FFF , 642px 1045px #FFF , 1659px 1636px #FFF , 906px 1189px #FFF , 316px 945px #FFF , 1417px 959px #FFF , 732px 1311px #FFF , 1313px 18px #FFF , 1745px 1129px #FFF , 898px 688px #FFF , 953px 1055px #FFF , 393px 1214px #FFF , 1632px 1893px #FFF , 77px 1451px #FFF , 460px 223px #FFF , 106px 856px #FFF , 1142px 1980px #FFF , 1346px 1352px #FFF , 1932px 1756px #FFF , 1416px 590px #FFF , 170px 988px #FFF , 1521px 523px #FFF , 852px 1227px #FFF , 1059px 101px #FFF , 1857px 1706px #FFF , 1859px 1647px #FFF , 1538px 117px #FFF , 1997px 6px #FFF , 258px 1741px #FFF , 1616px 1541px #FFF , 1030px 1698px #FFF , 1117px 510px #FFF , 314px 193px #FFF , 236px 1344px #FFF , 1434px 863px #FFF , 528px 441px #FFF , 1808px 1439px #FFF , 1095px 393px #FFF , 1000px 1166px #FFF , 1483px 1388px #FFF , 103px 449px #FFF , 1413px 1140px #FFF , 1065px 1919px #FFF , 1364px 1353px #FFF , 789px 663px #FFF , 1004px 1402px #FFF , 1288px 652px #FFF , 1893px 1804px #FFF , 37px 311px #FFF , 301px 955px #FFF , 1589px 648px #FFF , 1988px 1202px #FFF , 1565px 10px #FFF , 1818px 1896px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/* Project Section */

.project {
  width: 50%;
  margin: 0 auto;
}

.project-card {
  margin-bottom: 60px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.project-card:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .65);
}

.project-card:hover .hover-button {
  opacity: 1;
  cursor: pointer;
}

.hover-button {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.hover-button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.card-title {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
  opacity: 0;
  transition: top .5s ease;
}

p.card-title {
  padding-bottom: 10px;
  color: white;
}

.project-card:hover .card-title {
  top: 65px;
  opacity: 1;
}

p.card-title:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.project-card:hover p.card-title:after { 
  transition-delay: .5s;
  width: 100%; 
  left: 0; 
}

.project-content {
  position: relative;
  width: 100%;
  padding: 35px;
  box-sizing: border-box;
}

.project-language {
  margin-bottom: 20px;
}

.language {
  border-radius: 4px;
/*  border: 2px solid #92EAC0;*/
  border: 2px solid #B299E5;
  padding: 6px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: .75em;
  color: #525f7f;
}

